.container-dashboard{
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 8% 5% auto;
    gap: 10px;
}
.main-dashboard,
.header-dashboard{
    background-color: #333533;
    padding: 10px;
}



.header-dashboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffd100;
}
.ico-dashboard{
    z-index: 1;
    height: 100%;
    width: 100px;
    background-image: url(../assets/Kuro.png);
    background-size: contain;
    background-repeat: no-repeat;
}



