@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* Global Style */
html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
  background-color: #502F4C;
}