.showProjectsTable {
  width: 98%;
  margin-top: 20px;
  border-collapse: collapse;
}
th {
  background-color: #66c7f4;
  padding: 12px;
  text-align: left;
}

td {
  background-color: azure;
  color: #000000;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc; /* Borde inferior de las celdas */
}
/**
** ProjectManagement
*/
.TitlePRojectManagement{
  text-align: center;
  font-size: 24px;
  color: #000000;
  font-weight: bolder;
}
.ContentProjectMAnagement {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 20px;
  justify-content: center;
}
/**
*TODO:Estilo de la tabla de Project Management
*/
.ListProjectManagement {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5% 85% 10%;
}
.tableProjectManagement {
  height: auto;
  width: 100%;
}
.ListProjectManagement> :nth-child(3){
  display: flex;
  align-items: center;
  justify-content: center;
}
/**
*TODO: Estilos para el formulario del ProjectManagement
*/

.FormProjectManagement {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.form-container {
  max-width: 100%;
  margin: 0 auto; 
}
.form-input {
  margin-bottom: 10px; 
}
.form-input input {
  width: 100%; 
  padding: 8px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
}
