/* Estilos para la tabla */
.showProjectsTable {

  width: 98%; 
  margin-top: 20px;
  border-collapse: collapse;

}



/* Estilos para las celdas del encabezado */
th {
  background-color: #66c7f4;
  padding: 12px;
  text-align: left;
}


tbody tr:nth-child(even) {
  background-color: #66c7f4; /* Color de fondo de las filas */
}

/* Estilos para las celdas de la tabla */
td {
  background-color: azure;
  color: #000000;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc; /* Borde inferior de las celdas */
}
