/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Estilos para el encabezado de la tabla */
  thead {
    background-color: #3f51b5; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
  }
  
  /* Estilos para las celdas del encabezado */
  th {
    padding: 12px;
    text-align: left;
  }
  
  /* Estilos para las filas de la tabla */
  tbody tr:nth-child(even) {
    background-color: #3f51b5; /* Color de fondo de las filas */
  }
  
  /* Estilos para las celdas de la tabla */
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc; /* Borde inferior de las celdas */
  }
  