.SideBar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icoSideBar{
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
.SideBar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color:#F9F4F5; 
  margin-bottom: 10px;
}

.SideBar a:hover {
  color: #66c7f4;
}

.SideBar h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  
  background-color: #000000;
  text-align: center;
}
.sidebar-link{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 20px;
  
}