
  .main-tasks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .task-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .task-table th,
  .task-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .task-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .task-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilos para el formulario de nueva tarea */
  .task-form {
    margin-top: 20px;
  }
  
  .task-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .task-form input[type="text"],
  .task-form input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .task-form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .task-form input[type="submit"]:hover {
    background-color: #45a049;
  }
  