.main-tasks {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 38%;
  gap: 20px;
}

.list-tasks {
  height: max-content;
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr; /* Ajustar las filas para ocupar el espacio restante */
}

.task-table {
  width: max-content;
  border-collapse: collapse;
}

.task-table th,
.task-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.task-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.task-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para el formulario de nueva tarea */
.form-task {
  display: flex;
  justify-content: center;
}

.form-task label {
  display: block;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
}

.form-task input[type="text"],
.form-task input[type="date"] {
  width:100%; /* Restar el padding para mantener el ancho total */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

