.dashboard-main form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  width: 50% ;
}

.dashboard-main form div {
  margin-bottom: 10px;
  
}

.userPost-Text {
  font-weight: bold;
  width: 100px;
  color: black;
}

.dashboard-main form input,
.dashboard-main form select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;

  color: black;
}

.dashboard-main form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard-main form button:hover {
  background-color: #0056b3;
}

