.overflow-x-auto{
  font-weight: bold;    
  width: 100%;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
Button{
  width: 100px;
}
.pagination{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.bg-white{
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.TableHeadCell{
  background-color: #66c7f4;
}
