

.dashboard-main form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-main form div {
  margin-bottom: 15px;
}

.userPost-Text {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.dashboard-main form input,
.dashboard-main form select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  color: #333;
  font-size: 16px;
}

.dashboard-main form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
}

.dashboard-main form button:hover {
  background-color: #0056b3;
}

.alert {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
